
/* SEC: Import */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/*SEC: Setup CSS vars*/
:root{
    /*SEC C: Colors*/
    --primary-color: hsl(25, 97%, 53%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-light-grey: hsl(217, 12%, 63%);
    --neutral-medium-grey: hsl(216, 12%, 54%);
    --neutral-dark-blue: hsl(213, 19%, 18%);
    --neutral-very-dark-blue: hsl(216, 12%, 8%);

    /*SEC C: Fonnts*/
    --font-size-p: 15px;
    --font: Overpass, sans-serif;
}


/* SEC: CSS Reste */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--neutral-very-dark-blue);
    color: var(--neutral-white);
}

.hidden{
    visibility: hidden;
}

/* SEC: Container Styling */

.card{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 412px;
    height: 416px;
    background-image: radial-gradient(#232A34, #181E27);
    border-radius: 30px;
    font-family: var(--font);
}

.rating-state{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
}

h1{
    padding-top: 10px;
}
p{
    font-size: var(--font-size-p);
    color: var(--neutral-light-grey);
    line-height: 24px;
}
/* SEC C: Top ICON*/
.icon-container{
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--neutral-dark-blue);
}

.icon-container i{
    color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* SEC C: Checkbox Styling */
input[type="radio"]{
    /* visibility: hidden; */
   /* z-index: -1; */
    display: none;
    opacity: 0.2;
    width: 50px;
    height: 50px;
}


form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
}

.rating-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

label{
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--neutral-dark-blue);
}

label:hover{
    background-color: var(--neutral-medium-grey);
}


input:checked + label{
    background-color: var(--primary-color);
}

label span{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


button{
    text-align: center;
    height: 45px;
    padding: 10px;
    margin-top: 32px;
    border: none;
    border-radius: 22.5px;
    color: var(--neutral-white);
    background-color: var(--primary-color);
}

button:hover{
    color: var(--primary-color);
    background-color: var(--neutral-white);
}

/* SEC: Thankyou side */

.thankyou-state{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 45px 32px;
}

img{
    height: 108px;
    width: 162px;
}

#select-disp{
    padding: 4px 20px;
    font-size: 15px;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--neutral-dark-blue);
    border-radius: 22.5px;
}

.thankyou-state p{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: var(--neutral-light-grey);
}


@media screen and (max-width: 900px) {
    .card{
        box-sizing: border-box;
        width: 327px;
        padding:auto 24px;
    }

    form label{
        width: 42px;
        height: 42px;
    }
    input[type="radio"]{
        width: 40px;
        height: 40px;
    }
}